<div class="container">

  <div class="header">
    <img src="assets/Logo.png" alt="Logo" class="titulo2 header-logo">
  </div>

  <div class="main-content">
 
    <div class="left-section">
      <h2>Recomendaciones</h2>
      <p>Te quiero realizar algunas recomendaciones para tus datos.</p>
      <img src="assets/pulpo.jpg" alt="Pulpo" class="logo" (click)="openModalPulpi()">
      <p>Puedes aceptar, ignorar o simplemente continuar al siguiente paso</p>
    </div>

    <div class="right-section">
      <div class="recommendation-card">
          <h3>Datos Nulos</h3>
          <p class="description">Los datos nulos pueden significar información incompleta y ser un problema al momento de usar tus datos.</p>
          <p>Hay datos nulos en algunas columnas: </p>
          <div class="table-container">
              <table>
                  <thead>
                      <tr>
                          <th>Columnas</th>
                          <th>Cantidad</th>
                          <th>Outliers</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let entry of getNullsInfoEntries()">
                          <td>{{ entry[0] }}</td>
                          <td>{{ entry[1] }}</td>
                          <td>{{ entry[2] }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  
  </div>
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModalPulpi()">&times;</span>
      <h2>Explicación</h2>
      <p>En esta pantalla se van a mostrar </p>
    </div>
  </div>
  <button class="bottom-right-button" (click)="navigateToCarga()">Siguiente</button>
  <div class="container-color"></div>
</div>
