
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
.container {
  height: 100vh;
}

img{
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.titulo2 {
  height: 20%;
  width: 20%;
}

.header-logo {
  width: 150px;
}

p{
  font-family: 'Ubuntu', sans-serif;
}
.main-content {
  display: flex;
  justify-content: space-between;
}

.left-section {
  height: 90vh;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.left-section h2 {
  color: #375a7f;
}

.left-section p {
  margin: 10px 0;
  font-size: 16px;
}

.logo {
  width: 150px;
  margin: 20px 0;
}

.right-section {
  width: 80%;
  height: 90vh;
}


.recommendation-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: auto;
}

.table-container {
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.recommendation-card h3 {
  color: #375a7f;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
}



table {
  height: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-family: 'Ubuntu', sans-serif;
}


.description {
  font-size: 14px;
  color: #6c757d;
  font-family: 'Ubuntu', sans-serif;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.accept-btn,
.ignore-btn {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.accept-btn {
  background-color: #8492A6;
  color: white;
  border: none;
}

.ignore-btn {
  background-color: #8492A6;
  color: white;
  border: none;
}



.container-color {
  height: 50px;
  background-color: #2F5F98;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.titulo3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #2F5F98;
  margin-top: 10px;
}

.titulo2 {
  height: 20%;
  width: 20%;
}
 .bottom-right-button {
    background-color: #2F5F98;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    font-size: 18px;
  }
 .button-container{
   display: flex;
  flex-direction: row-reverse;
 }
  .bottom-right-button:hover {
    background-color: #2F5F98;
  }


  .modal {
    display: block; /* Mostrado por defecto, se controla con Angular */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
  }

  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .pulpi {
    width: 150px;

  }

  body {
    font-family: 'Ubuntu', sans-serif;
  }
