  
  <div class="container">

    <div class="header">
        <img src="assets/Titulo2.png" alt="Titulo" class="titulo2">
    </div>
    <div class="left-section">
      <h2>Recomendaciones</h2>
      <p>Te quiero realizar algunas recomendaciones para tus datos.</p>
      <img src="../../../assets/pulpo.jpg" alt="Pulpo" class="logo">

      <p>Puedes aceptar, ignorar o simplemente continuar al siguiente paso</p>
    </div>
  

    <div class="right-section">

  
      <div class="recommendation-card">
        <h3>Datos Nulos</h3>
        <p>Hay datos nulos en algunas columnas: <strong>Nombre, Género</strong></p>
        <p class="description">Los datos nulos pueden significar información incompleta y ser un problema al momento de usar tus datos.</p>
        <div class="action-buttons">
          <button class="accept-btn">Aceptar</button>
          <button class="ignore-btn">Ignorar</button>
        </div>
      </div>
  
      <div class="recommendation-card">
        <h3>Outliers</h3>
        <p>Hay datos atípicos en algunas columnas: <strong>Edad</strong></p>
        <p class="description">Los datos atípicos pueden resultar molestos al momento de hacer un análisis sobre tus datos.</p>
        <div class="action-buttons">
          <button class="accept-btn">Aceptar</button>
          <button class="ignore-btn">Ignorar</button>
        </div>
      </div>
    </div>
    

     <button class="bottom-right-button" (click)="navigateToCarga()">Siguiente</button>
  <div class="container-color"></div>
</div>