<div class="container">
  <div class="header">
      <p class="titulo3">Previsualización de resultados</p>
      <img src="assets/Titulo2.png" alt="Titulo" class="titulo2">
  </div>
  <div class="columns-section">
      <div class="columns-dataset">
          <table>
              <thead>
                  <tr>
                      <th *ngFor="let key of data[0] | keyvalue">{{ key.key }}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let row of data">
                      <td *ngFor="let cell of row | keyvalue">{{ cell.value }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <button class="bottom-right-button" (click)="navigateToCarga()">Siguiente</button>
  <div class="container-color"></div>
</div>

  
