<div class="container">
  <div class="header">
    <p class="titulo3">Homogenización de columnas</p>
    <img src="assets/Titulo2.png" alt="Titulo" class="titulo2">
  </div>

  <div class="columns-section">
    <div class="columns-dataset">
      <p class="titulo-Tabla">Estas son las columnas de cada dataset:</p>
      <table>
        <thead>
          <tr>
            <th *ngFor="let csvName of csvKeys">{{ csvName }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rowIndex of getArrayFromNumber(getMaxRowLength())">
            <td *ngFor="let csvKey of csvKeys">
              {{ datasets[csvKey][rowIndex] || '' }} 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="bottom-right-button" (click)="navigateToCarga()">Siguiente</button>
  <div class="container-color"></div>
</div>

