<div class="container">
    <div class="header">
        <p class="titulo3">Homogenización de columnas </p>
        <img src="assets/Titulo2.png" alt="Titulo" class="titulo2">

    </div>
      <div class="columns-section">
        <div class="columns-dataset">
          <p class="titulo-Tabla">Estas son las columnas de cada dataset: </p>
          <table>
            <thead>
            <tr>
              <th>Archivo1.csv</th>
              <th>Archivo2.csv</th>
              <th>Archivo3.csv</th>
              <th>Archivo4.csv</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Nombre</td>
              <td>Apellidos</td>
              <td>Nombres</td>
              <td>Nombre</td>
            </tr>
            <tr>
              <td>Apellido</td>
              <td>Primer Nombre</td>
              <td>Apellidos</td>
              <td>Apellidos</td>
            </tr>
            <tr>
              <td>Género</td>
              <td>Segundo Nombre</td>
              <td>Sexo</td>
              <td>Sexo</td>
            </tr>
            <tr>
              <td>Edad</td>
              <td>Edad</td>
              <td>Edad</td>
              <td>Edad</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button class="bottom-right-button" (click)="navigateToCarga()">Siguiente</button>
  <div class="container-color"></div>
</div>



  