<div *ngIf="errorMessage" class="error-modal">
  <div class="error-content">
    <p>{{ errorMessage }}</p>
    <button (click)="closeErrorModal()">Cerrar</button>
  </div>
</div>
<div class="container">
  <div class="header">
    <p class="titulo3">Homogenización de columnas</p>
    <img src="../../../assets/pulpo.jpg" alt="Pulpo" class="pulpi" (click)="openModalPulpi()">
    <img src="assets/Titulo2.png" alt="Titulo" class="titulo2">
  </div>
  <div class="columns-grouping-section">
    <h2>Escoge las columnas o pares de columnas a homogenizar:</h2>

    <table>
      <thead>
      <tr>
        <th *ngFor="let fileName of getKeys(columns)">
          {{ fileName }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of selectionRows; let rowIndex = index">
        <td *ngFor="let fileName of getKeys(columns)">
          <div class="column-select">
            <div *ngFor="let selection of selectionRows[rowIndex][fileName]; let selectionIndex = index">
              <select [(ngModel)]="selectionRows[rowIndex][fileName][selectionIndex]">
                <option value="" disabled selected>Selecciona una columna</option>
                <option *ngFor="let column of columns[fileName]" [value]="column">{{ column }}</option>
              </select>
              <button *ngIf="selectionRows[rowIndex][fileName].length > 1" (click)="removeSelection(rowIndex, fileName, selectionIndex)">-</button>
            </div>
            <button (click)="addSelection(rowIndex, fileName)">+</button>
          </div>
        </td>
        <td [attr.colspan]="getKeys(columns).length">
          <input
            [(ngModel)]="row.columnName"
            placeholder="Nombre de la columna homogenizada"
            class="column-name-input"
          />
        </td>
        <td>
          <button class="remove-row-button" (click)="removeRow(rowIndex)">Eliminar fila</button>
        </td>
      </tr>
      <tr>
        <td [attr.colspan]="getKeys(columns).length + 1">
          <button (click)="addRow()">Agregar nueva fila</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="continue-button">
      <button  (click)="processGrouping()">Continuar con la agrupación</button>
    </div>
  </div>
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModalPulpi()">&times;</span>
      <h2>Recomendaciones</h2>
      <p *ngIf="recommendationsData">{{ recommendationsData }}</p>
      <p *ngIf="!recommendationsData">Cargando recomendaciones...</p>
    </div>
  </div>
</div>
