<div class="container">
    <div class="header">
        <p class="titulo3">Homogenización de columnas </p>
        <img src="assets/Titulo2.png" alt="Titulo" class="titulo2">
    </div>
    <div>
        <p>Escoge parejas o grupos de columnas a homogenizar:</p>
    </div>
 
    <div class="columns-section">
        <table class="homogenization-table">
          
          <thead>
            <tr>
              <th>Archivo1.csv</th>
              <th>Archivo2.csv</th>
              <th>Archivo3.csv</th>
              <th>Archivo4.csv</th>
              <th>Formato</th>
            </tr>
          </thead>
 
          <tbody>
            <tr>
              <td>
                <select>
                  <option>Make a selection</option>
                </select>
                <button>+</button>
              </td>
              <td>
                <select>
                  <option>Make a selection</option>
                </select>
                <button>+</button>
              </td>
              <td>
                <select>
                  <option>Make a selection</option>
                </select>
                <button>+</button>
              </td>
              <td>
                <select>
                  <option>Make a selection</option>
                </select>
                <button>+</button>
              </td>
              <td>
                <select>
                  <option>Columna para escoger el formato</option>
                </select>
                <button>Escoger mi propio formato</button>
              </td>
            </tr>
      
          </tbody>
        </table>
      </div>
      
      
      <button class="bottom-right-button" (click)="navigateToCarga()">Siguiente</button>
  <div class="container-color"></div>
</div>
