<div class="thank-you-container">

    <div class="message-section">
      
      
      <div class="speech-bubble">
        <p>
          Las recomendaciones fueron realizadas. ¡Muchas gracias por confiar en nosotros!
        </p>
      </div>
      <img src="../../../assets/pulpo.jpg" alt="Pulpo" class="pulpi" >
    </div>

    <div class="logo-section">
      <img src="assets/datagenization-logo.png" alt="Datagenization Logo" class="logo-img" />
    </div>
  
    <div class="footer">
      <button class="back-btn">Volver</button>
      <button class="continue-btn">Continuar</button>
    </div>
  </div>
  
