@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 97vh;
  overflow: hidden; 
  position: relative; /* Para contener elementos posicionados si es necesario */
}

.header {
  display: flex;
  justify-content: center; /* Centra el logo horizontalmente */
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.titulo2 {
  width: 300px;
  /* Eliminados margin y posición absoluta */
}

.message-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente */
  position: relative;
  margin-top: 50px;
}

.speech-bubble {
  position: relative;
  background: #f1f1f1;
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px; /* Espacio entre la burbuja y Pulpi */
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #f1f1f1;
}

.logo {
  width: 150px;
  /* Eliminados márgenes y posición absoluta */
}

.bottom-right-button {
  background-color: #2F5F98;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 75px;
  right: 65px;
  z-index: 1001;
  font-size: 18px;
}

.bottom-right-button:hover {
  background-color: #2F5F98;
}

.container-color {
  height: 50px;
  background-color: #2F5F98;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Opcional: Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
  .titulo2 {
    width: 200px;
  }

  .speech-bubble {
    max-width: 300px;
    font-size: 16px;
  }

  .logo {
    width: 120px;
  }
}
