<div class="container">
  <div class="header">
    <img src="assets/pulpo.jpg" alt="Pulpo" class="logo">
    <img src="assets/datagenization.jpeg" alt="Datagenization" class="datagenization-logo">
  </div>

  <div class="columns-section">
    <div class="columns-dataset">
      <h2>Estas son las columnas de cada dataset:</h2>
      <table>
        <thead>
        <tr>
          <th>Archivo1.csv</th>
          <th>Archivo2.csv</th>
          <th>Archivo3.csv</th>
          <th>Archivo4.csv</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Nombres</td>
          <td>Nombre</td>
        </tr>
        <tr>
          <td>Apellido</td>
          <td>Primer Nombre</td>
          <td>Apellidos</td>
          <td>Apellidos</td>
        </tr>
        <tr>
          <td>Género</td>
          <td>Segundo Nombre</td>
          <td>Sexo</td>
          <td>Sexo</td>
        </tr>
        <tr>
          <td>Edad</td>
          <td>Edad</td>
          <td>Edad</td>
          <td>Edad</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="columns-selection">
    <h2>Escoge parejas o grupos de columnas a homogenizar:</h2>
    <div class="selection-wrapper">
      <div class="selection-row" *ngFor="let row of selectionRows">
        <div class="selection-column" *ngFor="let column of row">
          <select>
            <option>Make a selection</option>
          </select>
          <button (click)="addSelection(row)">+</button>
          <button (click)="removeSelection(row)" *ngIf="row.length > 1">-</button>
        </div>
      </div>
      <button (click)="addRow()">+</button>
    </div>
  </div>

  <div class="continue-button">
    <button>Continuar</button>
  </div>
</div>
