<div class="container">
  <div class="header">
    <img src="../../../assets/pulpo.jpg" alt="Pulpo" class="logo">
    <img src="../../../assets/datagenization.jpeg" alt="Datagenization" class="datagenization-logo">
  </div>
  <div class="columns-section">
    <div class="columns-dataset">
      <h2>Estas son las columnas de cada dataset:</h2>
      <table>
        <thead>
        <tr>
          <th *ngFor="let fileName of getKeys(columns)">
            {{ fileName }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of getMaxRows(columns); let rowIndex = index">
          <td *ngFor="let fileName of getKeys(columns)">
            {{ columns[fileName][rowIndex] || '' }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="continue-button">
    <button class="bottom-right-button" routerLink="">Atras</button>
    <button class="bottom-right-button" (click)=routing()>Continuar</button>
  </div>

</div>
