@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.container {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.logo, .datagenization-logo {
  height: 100px;
}

.columns-section, .columns-selection {
  width: 80%;
  margin: 20px 0;
  text-align: center;
}

.columns-dataset {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.columns-dataset h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

/*.columns-dataset th, .columns-dataset td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}

.columns-dataset tbody tr td {
  min-width: 150px;
}

.columns-dataset th {
  background-color: #f2f2f2;

}
*/

.dynamic-table th, .dynamic-table td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
  max-width: 150px;
  word-wrap: break-word;
  white-space: normal;
  font-family: 'Ubuntu', sans-serif;
}

.dynamic-table {
  width: auto;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  border-collapse: collapse;
  table-layout: auto;
  font-family: 'Ubuntu', sans-serif;
}

.dynamic-table th {
  background-color: #f2f2f2;
  text-overflow: ellipsis;
  font-family: 'Ubuntu', sans-serif;
}

.dynamic-table th span {
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  font-family: 'Ubuntu', sans-serif;
}
.selection-wrapper {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.selection-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.selection-column {
  display: flex;
  align-items: center;
  margin: 0 10px;

}

.selection-column select {
  width: 150px;
  padding: 5px;
  margin-right: 5px;
}

.selection-column button {
  margin: 0 2px;
}

.continue-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 900px;

}

.continue-button button {
  padding: 10px 30px;
  font-size: 16px;
}


.bottom-right-button {
  background-color: #2F5F98;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  bottom: 65px;
  right: 65px;
  z-index: 800;
  font-size: 18px;
}


.center-middle-button {
  background-color: #2F5F98;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.button-container{
  display: flex;
  justify-content: center;
}


.bottom-right-button:hover {
  background-color: #2F5F98;
}
.footer{
  background-color: #003cff;
}

.container-color {
  height: 5%;
  background-color: #2F5F98;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1002;
  padding: 10px 0;
}


.columns-section {
  flex: 1;
  overflow: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 900;
}


.modal {
  position: absolute;
  top: 135px;
  left: 0%;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.modal-content {
  padding: 20px;
  color: #333;
  position: relative;
  border-radius: 10px;
}

.speech-arrow {
  position: absolute;
  top: -20px;
  left: 30%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: #333;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.modal-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-preview {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 80%;
  overflow: auto;
}
.overlay-container {
  z-index: 999;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
