<div class="container">
  <div class="header">
    <img src="../../../assets/pulpo.jpg" alt="Pulpo" class="logo" (click)="openModalPulpi()">
    <img src="../../../assets/datagenization.jpeg" alt="Datagenization" class="datagenization-logo">
  </div>
  <div class="columns-section">
    <div class="columns-dataset">
      <h2>Estas son las columnas de cada dataset:</h2>
      <table class="dynamic-table">
        <thead>
          <tr>
            <th *ngFor="let fileName of getKeys(columns)">
              <span>{{ fileName }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of getMaxRows(columns); let rowIndex = index">
          <td *ngFor="let fileName of getKeys(columns)">
            {{ columns[fileName][rowIndex] || '' }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModalPulpi()"></div>
  
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModalPulpi()">&times;</span>
      <h2 style="color: #979BC4;">¡Hola, soy pulpi!</h2>
      <p>En esta pantalla se van a mostrar las columnas que contienen cada uno de los datasets subidos y en la siguiente se les va a dar la opción de buscar que columnas quieren homogenizar entre ellas. </p>
      <div class="speech-arrow"></div> 
    </div>
  </div>


  <div class="continue-button">
    <button class="bottom-right-button" routerLink="">Atras</button>
    <button class="bottom-right-button" (click)=routing()>Continuar</button>
  </div>

</div>
